@font-face {
    font-family: 'rodin';
    src: url('https://mariocube.com/css/RodinNTLGPro-DB-AlphaNum.woff2') format('woff2'),
         url('https://mariocube.com/css/RodinNTLGPro-DB-AlphaNum.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'rodin';
    src: url('https://mariocube.com/css/RodinNTLGPro-B-AlphaNum.woff2') format('woff2'),
         url('https://mariocube.com/css/RodinNTLGPro-B-AlphaNum.woff') format('woff');
    font-weight: 700;
}

html {
    font-family: 'rodin';
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
