@font-face {
    font-family: 'rodin';
    src: url('https://mariocube.com/css/RodinNTLGPro-DB-Extended.woff2') format('woff2'),
         url('https://mariocube.com/css/RodinNTLGPro-DB-Extended.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'rodin';
    src: url('https://mariocube.com/css/RodinNTLGPro-B-Extended.woff2') format('woff2'),
         url('https://mariocube.com/css/RodinNTLGPro-B-Extended.woff') format('woff');
    font-weight: 700;
}

html {
    font-family: 'rodin';
}
